---
---

/* #Form Colors
================================================== */

$button_background: #eee;

$button_border: #aaa;

$button_border_secondary: #ccc;

$button_text: #444;

$button_text_shadow: rgba(255, 255, 255, .75);

$button_hover_text: #222;

$button_hover_background: #ddd;

$button_hover_border: #888;

$button_hover_border_secondary: #aaa;

$button_active_background: #ccc;

$button_active_border: #666;

$form_border: #ccc;

$form_text: #777;

$form_background: #fff;

$form_textarea_focus_border: #aaa;

$form_textarea_focus_text: #444;

$form_textarea_legend: #444;

/* =============================================== */

/* #Layout Colors
================================================== */

$body_background: #fff;

$body_text: #444;

$title: #181818;

$subheader: #777;

$text_lead: #777;

$strong_text: #333;

$blockquote: #777;

$blockquote_border: #ddd;

$blockquote_cite: #555;

$hr: #ddd;

$link_visited: #333;

$link_hover-focus: #000;

$img_link_border: #888;

/* =============================================== */

@import
        "layouts",
        "forms",
        "grid",
        "basic_styles",
        "style"
;
