/* #Buttons
================================================== */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background: $button_background; /* Old browsers */
  background: $button_background -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
  background: $button_background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
  background: $button_background -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
  background: $button_background -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
  background: $button_background -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
  background: $button_background linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
  border: 0.1vh solid $button_border;
  border-top: 0.1vh solid $button_border_secondary;
  border-left: 0.2vw solid $button_border_secondary;
  -moz-border-radius: 0.4vh;
  -webkit-border-radius: 0.4vh;
  border-radius: 0.4vh;
  color: $button_text;
  display: inline-block;
  font-size: 2.8vh;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 0.1vh $button_text_shadow;
  cursor: pointer;
  margin-bottom: 2vh;
  line-height: normal;
  padding: 1vw 1.2vh;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .button,
    button,
    input[type="submit"],
    input[type="reset"],
    input[type="button"] {
      font-size:5.6vh;
    }
  }

  .button:hover,
  button:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover {
    color: $button_hover_text;
    background: $button_hover_background; /* Old browsers */
    background: $button_hover_background -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
    background: $button_hover_background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
    background: $button_hover_background -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
    background: $button_hover_background -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
    background: $button_hover_background -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
    background: $button_hover_background linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
    border: 0.1vh solid $button_hover_border;
    border-top: 0.1vh solid $button_hover_border_secondary;
    border-left: 0.1vh solid $button_hover_border_secondary; }

    .button:active,
    button:active,
    input[type="submit"]:active,
    input[type="reset"]:active,
    input[type="button"]:active {
      border: 0.1vh solid $button_active_border;
      background: $button_active_background; /* Old browsers */
      background: $button_active_background -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); /* FF3.6+ */
      background: $button_active_background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); /* Chrome,Safari4+ */
      background: $button_active_background -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
      background: $button_active_background -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
      background: $button_active_background -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
      background: $button_active_background linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */ }

      .button.full-width,
      button.full-width,
      input[type="submit"].full-width,
      input[type="reset"].full-width,
      input[type="button"].full-width {
        width: 100%;
        padding-left: 0 !important;
        padding-right: 0 !important;
        text-align: center; }

        /* Fix for odd Mozilla border & padding issues */
        button::-moz-focus-inner,
        input::-moz-focus-inner {
          border: 0;
          padding: 0;
        }

/* #Forms
================================================== */

form {
  margin-bottom: 1.8vh; }
  fieldset {
    margin-bottom: 1.8vh; }
    input[type="text"],
    input[type="password"],
    input[type="email"],
    textarea,
    select {
      border: 0.1vh solid $form_border;
      padding: 0.7vw 0.5vh;
      outline: none;
      -moz-border-radius: 0.2vw;
      -webkit-border-radius: 0.2vw;
      border-radius: 0.2vw;
      font: 1.6vh "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: $form_text;
      margin: 0;
      width: 21vw;
      max-width: 100%;
      display: block;
      margin-bottom: 1.8vh;
      background: $form_background; }
      select {
        padding: 0; }
        input[type="text"]:focus,
        input[type="password"]:focus,
        input[type="email"]:focus,
        textarea:focus {
          border: 0.1vh solid $form_textarea_focus_border;
          color: $form_textarea_focus_text;
          -moz-box-shadow: 0 0 0.5vh rgba(0,0,0,.2);
          -webkit-box-shadow: 0 0 0.6vh rgba(0,0,0,.2);
          box-shadow:  0 0 0.5vh rgba(0,0,0,.2); }
          textarea {
            min-height: 6vh; }
            label,
            legend {
              display: block;
              font-weight: bold;
              font-size: 1.6vh;  }
              select {
                width: 22vw; }
                input[type="checkbox"] {
                  display: inline; }
                  label span,
                  legend span {
                    font-weight: normal;
                    font-size: 1.5vh;
                    color: $form_textarea_legend; }
