/* Table of Contents
==================================================
#Base Grid
#Tablet (Portrait)
#Mobile (Portrait)
#Mobile (Landscape)
#Clearing */

/* #Base Grid
================================================== */

.container                                  { position: relative; width: 85vw; margin: 0 auto; padding: 0; }
.container .column,
.container .columns                         { float: left; display: inline; margin-left: 2vw; margin-right: 2vw; padding-bottom: 4vh;}
.row                                        { margin-bottom: 8vw; }

/* Nested Column Classes */
.column.alpha, .columns.alpha               { margin-left: 0; }
.column.omega, .columns.omega               { margin-right: 0; }

/* Base Grid */
.container .one.column,
.container .one.columns                     { width: 2.8vw; }
.container .two.columns                     { width: 7.6vw; }
.container .three.columns                   { width: 12.4vw; }
.container .four.columns                    { width: 17.2vw; }
.container .five.columns                    { width: 22vw; }
.container .six.columns                     { width: 26.8vw; }
.container .seven.columns                   { width: 31.6vw; }
.container .eight.columns                   { width: 36.4vw; }
.container .nine.columns                    { width: 41.2vw; }
.container .ten.columns                     { width: 46vw; }
.container .eleven.columns                  { width: 50.8vw; }
.container .twelve.columns                  { width: 55.6vw; }
.container .thirteen.columns                { width: 60.4vw; }
.container .fourteen.columns                { width: 65.2vw; }
.container .fifteen.columns                 { width: 70vw; }
.container .sixteen.columns                 { width: 74.8vw; }

.container .one-third.column                { width: 23.6vw; }
.container .two-thirds.column               { width: 49.2vw; }

/* Offsets */
.container .offset-by-one                   { padding-left: 4.8vw; }
.container .offset-by-two                   { padding-left: 9.6vw; }
.container .offset-by-three                 { padding-left: 14.4vw; }
.container .offset-by-four                  { padding-left: 19.2vw; }
.container .offset-by-five                  { padding-left: 24vw; }
.container .offset-by-six                   { padding-left: 28.8vw; }
.container .offset-by-seven                 { padding-left: 33.6vw; }
.container .offset-by-eight                 { padding-left: 38.4vw; }
.container .offset-by-nine                  { padding-left: 43.2vw; }
.container .offset-by-ten                   { padding-left: 48vw; }
.container .offset-by-eleven                { padding-left: 52.8vw; }
.container .offset-by-twelve                { padding-left: 57.6vw; }
.container .offset-by-thirteen              { padding-left: 62.4vw; }
.container .offset-by-fourteen              { padding-left: 67.2vw; }
.container .offset-by-fifteen               { padding-left: 72vw; }

/* #Tablet (Portrait)
================================================== */

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container                                  { width: 85vw; }
  .container .column,
  .container .columns                         { margin-left: 2vw; margin-right: 2vw;  }
  .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 2vw; }
  .column.omega, .columns.omega               { margin-right: 0; margin-left: 2vw; }
  .alpha.omega                                { margin-left: 0; margin-right: 0; }

  .container .one.column,
  .container .one.columns                     { width: 2.8vw; }
  .container .two.columns                     { width: 7.6vw; }
  .container .three.columns                   { width: 12.4vw; }
  .container .four.columns                    { width: 17.2vw; }
  .container .five.columns                    { width: 22vw; }
  .container .six.columns                     { width: 26.8vw; }
  .container .seven.columns                   { width: 31.6vw; }
  .container .eight.columns                   { width: 36.4vw; }
  .container .nine.columns                    { width: 41.2vw; }
  .container .ten.columns                     { width: 46vw; }
  .container .eleven.columns                  { width: 50.8vw; }
  .container .twelve.columns                  { width: 55.6vw; }
  .container .thirteen.columns                { width: 60.4vw; }
  .container .fourteen.columns                { width: 65.2vw; }
  .container .fifteen.columns                 { width: 70vw; }
  .container .sixteen.columns                 { width: 74.8vw; }

  .container .one-third.column                { width: 23.6vw; }
  .container .two-thirds.column               { width: 49.2vw; }

  /* Offsets */
  .container .offset-by-one                   { padding-left: 4.8vw; }
  .container .offset-by-two                   { padding-left: 9.6vw; }
  .container .offset-by-three                 { padding-left: 14.4vw; }
  .container .offset-by-four                  { padding-left: 19.2vw; }
  .container .offset-by-five                  { padding-left: 24vw; }
  .container .offset-by-six                   { padding-left: 28.8vw; }
  .container .offset-by-seven                 { padding-left: 33.6vw; }
  .container .offset-by-eight                 { padding-left: 38.4vw; }
  .container .offset-by-nine                  { padding-left: 43.2vw; }
  .container .offset-by-ten                   { padding-left: 48vw; }
  .container .offset-by-eleven                { padding-left: 52.8vw; }
  .container .offset-by-twelve                { padding-left: 57.6vw; }
  .container .offset-by-thirteen              { padding-left: 62.4vw; }
  .container .offset-by-fourteen              { padding-left: 67.2vw; }
  .container .offset-by-fifteen               { padding-left: 72vw; }
}


/*  #Mobile (Portrait)
================================================== */

@media only screen and (max-width: 767px) {
  .container { width: 90vw; }
  .container .columns,
  .container .column { margin: 0; }

  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column  { width: 90vw; }

  /* Offsets */
  .container .offset-by-one,
  .container .offset-by-two,
  .container .offset-by-three,
  .container .offset-by-four,
  .container .offset-by-five,
  .container .offset-by-six,
  .container .offset-by-seven,
  .container .offset-by-eight,
  .container .offset-by-nine,
  .container .offset-by-ten,
  .container .offset-by-eleven,
  .container .offset-by-twelve,
  .container .offset-by-thirteen,
  .container .offset-by-fourteen,
  .container .offset-by-fifteen { padding-left: 0; }

}


/* #Mobile (Landscape)
================================================== */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container { width: 95vw; }
  .container .columns,
  .container .column { margin: 0; }

  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column { width: 95vw; }
}


/* #Clearing
================================================== */

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
  .row:after,
  .clearfix:after {
    clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

      /* You can also use a <br class="clear" /> to clear columns */
      .clear {
        clear: both;
        display: block;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0;
      }
