/* #Reset & Basics (Borrowed from Skeleton [//getskeleton.com], Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
    body {
      line-height: 1; }
      ol, ul {
        list-style: none; }
        blockquote, q {
          quotes: none; }
          blockquote:before, blockquote:after,
          q:before, q:after {
            content: '';
            content: none; }
            table {
              border-collapse: collapse;
              border-spacing: 0; }

/* #Basic Styles
================================================== */

html, body {
  width:100%;
  height:auto;
  min-height:100vh;
  overflow-x:hidden;
}

body {
  background: $body_background;
  font: 3.5vh/5.5vh "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $body_text;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

/* #Typography
================================================== */

h1, h2, h3, h4, h5, h6 {
  color: $title;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: normal; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
  h1 { font-size: 4.6vh; line-height: 5vh; margin-bottom: 1.4vh;}
  h2 { font-size: 4vh; line-height: 4.2vh; margin-bottom: 1.3vh; }
  h3 { font-size: 3.5vh; line-height: 3.6vh; margin-bottom: 1.8vh; }
  h4 { font-size: 3vh; line-height: 3.2vh; margin-bottom: 1.2vh; }
  h5 { font-size: 2.4vh; line-height: 2.5vh; }
  h6 { font-size: 2.1vh; line-height: 2.2vh; }
  .subheader { color: $subheader; }

  @media only screen and (min-width: 480px) and (max-width: 767px) {
    h1 { font-size: 12vh; line-height: 14.5vh; margin-bottom: 3.6vh;}
    h2 { font-size: 9.5vh; line-height: 11.5vh; margin-bottom: 2.5vh; }
    h3 { font-size: 8vh; line-height: 8.7vh; margin-bottom: 1.8vh; }
    h4 { font-size: 6vh; line-height: 6.4vh; margin-bottom: 1.2vh; }
    h5 { font-size: 4.8vh; line-height: 5vh; }
    h6 { font-size: 4.2vh; line-height: 4.4vh; }
  }

  p { margin: 0 0 2vh 0; }
  p img { margin: 0; }
  p.lead { font-size: 2.1vh; line-height: 2.5vh; color: $text_lead;  }

  @media only screen and (min-width: 480px) and (max-width: 767px) {
    body {
      font: 7vh/11vh "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
    p.lead { font-size: 4.2vh; line-height: 5.2vh; }
  }

  em { font-style: italic; }
  strong { font-weight: bold; color: $strong_text; }
  small { font-size: 80%; }
  .centre { text-align:center; }
  .center { @extend .centre; }

  /*	Blockquotes  */
  blockquote, blockquote p { font-size: 2.3vh; line-height: 2.4vh; color: $blockquote; font-style: italic; font-family: "Lucida Console", Monaco, monospace;}
  blockquote { margin: 0 0 2vh; padding: 1vh 2vh 0 2vw; border-left: 1vw solid $blockquote_border; }
  blockquote cite { display: block; font-size: 1.2vh; color: $blockquote_cite; }
  blockquote cite:before { content: "\2014 \0020"; }
  blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: $blockquote_cite; }

  @media only screen and (min-width: 480px) and (max-width: 767px) {
    blockquote, blockquote p { font-size: 70%; line-height: 4.8vh;}
    blockquote { margin: 0 0 3.4vh; padding: 1.6vh 2.4vh 0 2vw;}
    blockquote cite { font-size: 2.6vh; }
  }

  hr { border: solid $hr; border-width: 0.1vw 0 0; clear: both; margin: 1vh 0 3vw; height: 0; }

/* #Links
================================================== */

a, a:visited { color: $link_visited; text-decoration: underline; outline: 0; }
a:hover, a:focus { color: $link_hover-focus; }
p a, p a:visited { line-height: inherit; }

/* #Lists
================================================== */

ul, ol { margin-bottom: 1.2vh; }
ul { list-style: none outside; }
ol { list-style: decimal; }
ol, ul.square, ul.circle, ul.disc { margin-left: 2.3vw; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
ul ul, ul ol,
ol ol, ol ul { margin: 0.2vw 0 3.2vh 3.5vh; font-size: 90%;  }
ul ul li, ul ol li,
ol ol li, ol ul li { margin-bottom: 1.8vh; }
li { line-height: 3.8vh; margin-bottom: 3vh; }
ul.large li { line-height: 2.1vh; }
li p { line-height: 2.1vh; }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  li { line-height: 7.6vh; }
  ul.large li { line-height: 4.2vh; }
  li p { line-height: 4.2vh; }
}

/* #Images
================================================== */

img {
  display:block;
  width:50%;
  height:auto;
  margin: 0 auto;
}

img.scale-with-grid {
  max-width: 100vw;
  height: auto; }

img.half-height {
  max-height:100%;
  height:50%;
}

a:hover img{
  border: 0.1vh solid $img_link_border;
}

/* #Misc
================================================== */

.remove-bottom { margin-bottom: 0 !important; }
.half-bottom { margin-bottom: 1vh !important; }
.add-bottom { margin-bottom: 1.8vh !important; }
.remove-top { margin-top: 0 !important; }
.half-top { margin-top: 3.2vh !important; }
.add-top { margin-top: 5.6vh !important; }
